export(CaretModel)
export(CoxModel)
export(GlmnetModel)
export(LinearModel)
export(MostCorrelatedFeatures)
export(PredictiveModel)
export(PredictiveModelFeatureEvaluator)
export(PredictiveModelPerformance)
export(PredictiveModelResults)
export(RSFmodel)
export(SurvivalModelPerformance)
export(SurvivalModelPerformanceCV)
export(convertDataFrameToFeatureMatrix)
export(createAggregateFeatureDataSet)
export(createENetTuneGrid)
export(createFeatureAndResponseDataList)
export(crossValidatePredictiveModel)
export(crossValidatePredictiveSurvivalModel)
export(defaultTrainControl)
export(exactConcordanceIndex)
export(exactConcordanceIndexV)
export(filterNasFromMatrix)
export(filterPredictiveModelData)
export(plotPredictiveModelHeatmap)
export(trainPartition)
